.filmesPrincipais {
    height: 700px;
    background: rgb(171,56,237);
    background: linear-gradient(90deg, rgba(171,56,237,1) 0%, rgba(136,42,201,1) 35%, rgba(101,26,172,1) 100%);
    background: linear-gradient(90deg, rgba(171,56,237,1) 0%, rgba(136,42,201,1) 35%, rgba(101,26,172,1) 100%);
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
    grid-template-rows: repeat(3, 1fr);
}

img, .atropos{
    margin-top: 40px;
    width: 400px;
    height: auto;
    border-radius: 16px;
}
.filmesPrincipais__title{
    text-align: center;
    grid-row-start: 1;
    grid-column: 1/7;
}
.my-atropos{ /*Aniamis Fantasticos*/
    grid-row-start: 2;
    grid-column: 2/3;
}
.my-atropos2{ /* harry P-->*/
    grid-row-start: 2;
    grid-column: 3/4;
}
.my-atropos3{
    grid-row-start: 2; /*aquaman*/
    grid-column: 4/5;
}
.my-atropos4{ /*avatar*/
    grid-row-start: 3;
    grid-column: 2/3;
}
.my-atropos5{ /*got*/
    grid-row-start: 3;
    grid-column: 3/4;
}
.my-atropos6{ /*raised*/
    grid-row-start: 3;
    grid-column: 4/5;
}


